@model IEnumerable<SportsStore.Domain.Entities.Product>
@{
    ViewBag.Title = "Serch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>

                <td colspan="3">
                    SASAADAdada
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <th>@item.Name</th>
                    <th>@item.Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            }
        }
    </tbody>
</table>
